<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="RcmUser Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./../src/</directory>
        </whitelist>
    </filter>
</phpunit>
